<body>
    <form id="card-search-project" method="post" action="/searchProject">
        <input id="project-name-input" type="text" placeholder="Project Name" name="project-name-input">
        <input type="text" id="sop-input" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Start of Production" name="sop-input">
        <select name="platform-selection" id="platform-select">
            <option value="default">Select Project Platform</option>
            <option value="Snowmobile">Snowmobile</option>
            <option value="Watercraft">Watercraft</option>
        </select>
        <select name="model-selection" id="model-select">
            <option value="default">Select Project Model</option>
            <option value="Nomad">Nomad</option>
            <option value="Atlas">Atlas</option>
            <option value="Orca">Orca</option>
            <option value="Beluga">Beluga</option>
        </select>
        <select name="my-selection" id="modelyear-select">
            <option value="default">Select Project Model Year</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2026">2029</option>
            <option value="2027">2030</option>
            <option value="2028">2031</option>
        </select>
        
        <input type="submit" value="Search" id="btn_search">
    </form>
    
</body>