<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eWorkbench</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/CSS/reset.css">
    <link rel="stylesheet" href="/CSS/variables.css">
    <link rel="stylesheet" href="/CSS/style.css">
    

</head>
<body>
    <label id="page-title-label">Project Manager</label>
    <ul id="left-nav-items">
        <a href="/newProject" class="left-list-item" id="left-item-1">Communication Plan</a>
        <a href="/openProject" class="left-list-item" id="left-item-2">DVP&R</a>
        <a href="/" class="left-list-item" id="left-item-3">Risk Analysis</a>
        <a href="" class="left-list-item" id="left-item-4">FMEA</a>
        <a href="" class="left-list-item" id="left-item-5">RCA</a>
        <a href="" class="left-list-item" id="left-item-6">DMAIC</a>
        <!-- I would like to be able to create a DMAIC log for issues
            1) Define
            2) Measure
            3) Analyse
            4) Improve
            5) Control -->
        <!-- <a href="" class="left-list-item" id="left-item-7"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-8"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-9"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-10"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-11"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-12"></a> -->
    </ul>
</body>
</html>