<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Lifecycle</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/CSS/reset.css">
    <link rel="stylesheet" href="/CSS/variables.css">
    <link rel="stylesheet" href="/CSS/style.css">
    

</head>
<body>
    <label id="page-title-label">Project Manager</label>
    <ul id="left-nav-items">
        <a href="" class="left-list-item" id="left-item-1">Initiate</a>
        <a href="" class="left-list-item-sub" id="left-item-1-sub">Project Charter</a>
        <!-- In this section I would like to have a menu to access the following features, options or tools
            1) Define Goals & Deliverable
            2) Identify Budget & Resources
            3) People Involved 
            4) Organize all the information
            5) Get Project Approvals
            6) Who are the stakeholders
            7) What will it cost 
                    a. Cost Benifit Analysis 
                        1. How much money could we save
                        2. How much money could the customer save
                        3. How much time can we save
                        4. How will the customer experience be improved 
                    b. Calculate ROI
                    c. Time required
                    d. One time costs
                    e. Ongoing costs
                    f. Long term costs -->
        <a href="" class="left-list-item" id="left-item-2">Plan</a>
        <!-- In this section I would like to 
            1) Create a Budget
            2) Set The Schedule
            3) Establish the team
            4) Determine Role and Responsabilites
            5) Plan for Risks & Change
                    a. Scheduling delays
                    b. Budget changes
                    c. Technology $ Software requirements
                    d. Legal Issues
                    e. Quality Control
                    f. Access to Resources
            6) Establish Communications
                    a. Team
                    b. Others -->
        <a href="" class="left-list-item" id="left-item-3">Execute</a>
        <!-- In this section I would like to 
            1) Manage Progress
            2) Communicate
            3) Make Adjustments 
                a. Change Management Board (CCB) -->
        <a href="" class="left-list-item" id="left-item-4">Close</a>
        <!-- In this section I would like to
            1) Ensure all tasks have been completed
                    a. Work that was added
                    b. Outstanding invoices have been paid
                    c. Resources are returned
                    d. Documentation done and submitted 
            2) Confirm Acceptance of the project outcome
            3) Reflect on lessons learned
            4) Communicate Results with stakeholders
                    a. Department or organisation management team
                    b. Clients of product or service
                    c. Users of new tool or precess
            5) Celebrate completing the project -->
        <!-- <a href="" class="left-list-item" id="left-item-5"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-6"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-7"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-8"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-9"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-10"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-11"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-12"></a> -->
    </ul>
</body>
</html>