<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eWorkbench</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/CSS/reset.css">
    <link rel="stylesheet" href="/CSS/variables.css">
    <link rel="stylesheet" href="/CSS/style.css">
    

</head>
<body>

    <div id="corner">
        <a href="/"><img src="/Resources/Images/ICON_engineering.svg" alt="" id="engineering-logo"></a>
    </div>
    <div id="top-info-area-left">
        <label class="text-labels">Project Name</label>
        <%if (locals.pn) {%>
            <label class="project-info-label" id="project-name"><%= pn %></label>
            <%} else {%>
                <label class="project-info-label" id="project-name">---------</label>
                <%}%>        
        <label class="text-labels">Project Number</label>
        <label class="project-info-label" id="project-number">---------</label>
        <label class="text-labels">Start of Production</label>
        <label class="project-info-label" id="sop">----------</label>
    </div>
    <div id="top-info-area-right">
        <label class="text-labels">Platform</label> 
        <label class="project-info-label" id="platform">------------</label>
        <label class="text-labels">Model</label>
        <label class="project-info-label" id="model">-----------</label>
        <label class="text-labels">Model Year</label>
        <label class="project-info-label" id="model">----</label>
    </div>
    <div id="nav-bar">
        <ul id="top-nav-items">
            <a href="/projectManager" class="nav-list-item" id="project-tracker-NAV">PROJECT MANAGER</a>
            <a href="" class="nav-list-item" id="dvp-NAV">DVP</a>
            <a href="" class="nav-list-item" id="torque-NAV">TORQUE</a>
            <a href="" class="nav-list-item" id="dfmea-NAV">DFMEA</a>
            <a href="" class="nav-list-item" id="users">USERS</a>
            <a href="" class="nav-list-item" id="help-NAV">HELP</a>
        </ul>
    </div>
</body>
</html>