<body>
    <ul id="left-nav-items">
        <a href="/newProject" class="left-list-item" id="left-item-1">New</a>
        <a href="/openProject" class="left-list-item" id="left-item-2">Open</a>
        <a href="/" class="left-list-item" id="left-item-3">Close</a>
    </ul>
</body>