<body>
    <ul>
        <ul id="left-nav-items">
            <a href="/dvp/new" class="left-list-item" id="left-item-2">New</a>
            <a href="/dvp/open" class="left-list-item" id="left-item-2">Open</a>
            <a href="/" class="left-list-item" id="left-item-2">Cancel</a>
        </ul>
    </ul>

</body>