<body>
    <ul id="left-nav-items">
        <a href="/newProject" class="left-list-item" id="left-item-1">Communication Plan</a>
        <a href="/dvp" class="left-list-item" id="left-item-2">DVP&R</a>
        <a href="/" class="left-list-item" id="left-item-3">Risk Analysis</a>
        <a href="" class="left-list-item" id="left-item-4">FMEA</a>
        <a href="" class="left-list-item" id="left-item-5">RCA</a>
        <a href="" class="left-list-item" id="left-item-6">DMAIC</a>
        <!-- I would like to be able to create a DMAIC log for issues
            1) Define
            2) Measure
            3) Analyse
            4) Improve
            5) Control -->
        <!-- <a href="" class="left-list-item" id="left-item-7"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-8"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-9"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-10"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-11"></a> -->
        <!-- <a href="" class="left-list-item" id="left-item-12"></a> -->
    </ul>
</body>